<div class="backdrop" (click)="onClose()"></div>
<dialog open>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="control-row">
      <div class="control">
        <label for="name">Name</label>
        <input id="name" type="text" name="name" formControlName="name" />
      </div>
      <div class="control">
        <label for="category">Category</label>
        <select id="category" name="category" formControlName="category">
          @for (category of categories(); track category.Id) {
            <option [value]="category.Id">{{ category.name }}</option>
          }
        </select>
      </div>
    </div>
    <hr />

    <!-- <div class="control">
        <label for="ingredient">ingredient</label>
        <select
          id="ingredient"
          name="ingredient"
          formControlName="ingredient"
        ></select>
      </div>
      <div class="control">
        <label for="quantity">Quantity</label>
        <input
          id="quantity"
          type="quantity"
          name="quantity"
          formControlName="quantity"
        />
      </div> -->
    <div formArrayName="recipe">
      @for (group of form.controls.recipe.controls; track group) {
        <div class="control-row" [formGroup]="group">
          <div class="control">
            <label for="ingredient">ingredient</label>
            <select
              id="ingredient"
              name="ingredient"
              formControlName="ingredient"
            >
              @for (item of items(); track item.itemId) {
                <option [value]="item.itemId">{{ item.name }}</option>
              }
            </select>
          </div>
          <div class="control">
            <label for="quantity">Quantity</label>
            <input
              id="quantity"
              type="quantity"
              name="quantity"
              formControlName="quantity"
            />
          </div>
        </div>
      }
      <button
        type="button"
        class="btn btn-transparent btn-lg"
        aria-label="Add"
        (click)="onAddItem()"
      >
        <i class="fas fa-plus"></i>
      </button>
    </div>
    <hr />
    <div class="control">
      <label for="price">Price</label>
      <input id="price" type="number" name="price" formControlName="price" />
    </div>
    <div class="form-actions">
      <button type="reset" class="button button-flat">Reset</button>
      <button type="submit" class="button">Add</button>
    </div>
  </form>
</dialog>
