.backdrop {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

dialog {
  width: 90%;
  max-width: 40rem;
  margin: 2rem auto;
  padding: 2rem;
  background: linear-gradient(
    to bottom,
    #857e8b,
    #7c6a8f
  );
  border-radius: 8px;
  box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.5);
}

.control,
fieldset {
  margin: 0.5rem 0;
}

.control.no-margin {
  margin-bottom: 0;
}

.control label {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
  color: #1f1727;
  text-transform: uppercase;
  font-weight: bold;
}

.control input {
  display: block;
  width: 100%;
  max-width: 15rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #8d8c8c;
  background-color: #ffffff;
  color: #142020;
}

.control select {
  display: block;
  width: 100%;
  max-width: 15rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #8d8c8c;
  background-color: #ffffff;
  color: #142020;
}

.control-row {
  margin: 0.5rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.5rem;
}

.control-row .control {
  flex: 1;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  background-color: #411174;
  color: #d9e2f1;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #623197;
}

.button-flat {
  background-color: transparent;
  color: #d9e2f1;
}

.button-flat:hover,
.button-flat:focus {
  background-color: transparent;
  color: #a39caa;
}
