*{
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background: radial-gradient(circle at top left, #bbbabd, #e3ddf1);
  color: #131313;
  margin: 0;
  padding: 0;
  height: 100%;
}
