:host{
  display: block;
  padding: 1.5rem;
  background-color: #9fa3ac;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  width: 100%;
  max-width: 80rem;
  margin: 0 auto 2rem auto;
  text-align: center;
  border-radius: 12px;
  position: relative;
}

menu {
  margin: 0;
  padding: 0;
  position: absolute;
  top:0.75rem;
  right: 0.75rem;
  z-index: 1;
}

menu button {
  font: inherit;
  cursor: pointer;
  background-color: #9965dd;
  border-radius: 4px;
  border: none;
  padding: 0.35rem 0.8rem;
  font-size: 0.9rem;
}

menu button:hover,
menu button:active {
  background-color: #7f619a
}
